<launch>

  <node pkg="monsun_comm_update" type="publisher" name="publisher_2" output="screen">
    <rosparam>
      id: 2
    </rosparam>
  </node>

    <!-- <node pkg="monsun_comm_update" type="subscriber" name="subscriber_2" output="screen">
    <rosparam>
        id: 2
        endpoint: 192.168.0.142
    </rosparam>
    </node> -->

</launch>
