<launch>
    <include file="$(find i2c_interface)/launch/180718-gps-follow-mn3.launch" />
    <include file="$(find localization)/launch/slave.launch" />
    <include file="$(find heading_ctrl)/launch/heading_ctrl_debug.launch" />
    <include file="$(find follow_ctrl)/launch/follow_ctrl_mn3_deb.launch" />
</launch>
