<launch>
    <!-- <include file="$(find gps_buoy)/launch/gps_buoy_node.launch" /> -->
    <!-- <include file="$(find mn_launch)/launch/mn3-behavior-hovering_update.launch" /> -->
    <include file="$(find depth_ctrl)/launch/depth_ctrl.launch" />
    <!-- <include file="$(find heading_ctrl)/launch/heading_ctrl_hovering.launch" /> -->
    <include file="$(find heading_ctrl_update)/launch/heading_ctrl_update.launch" />
    <include file="$(find gps_navigation)/launch/test.launch" />
    <!-- <arg name="gps_waypoints_file_name" default="/home/monsun/ros_workspace/src/ros_firmware/gaurav_ros_packages/gps_waypoints/gps-waypoints_transect-1_2-0-1-to-2m.yaml" doc="GPS waypoints YAML file name with path" /> -->
    <arg name="gps_waypoints_file_name" default="/home/monsun/ros_workspace/src/ros_firmware/gaurav_ros_packages/gps_waypoints/transect-1_2m-to-2_0_1.yaml" doc="GPS waypoints YAML file name with path" />
   
    <node pkg="rostopic" type="rostopic" name="gps_waypoints_pub" output="screen" args="pub /cc/ui/path monsun_msgs/GpsPath -f $(arg gps_waypoints_file_name) -l" />
</launch>